<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Aldi Duzha" />
    <meta
      name="description"
      content="Bulma Hotel is a business hotel with unmatched hospitality, convenience &amp; comforts. Bulma Hotel is an ideal choice for your stay. Whether business trip or just a weekend leisure."
    />
    <meta name="keywords" content="bulma, hotel, website, template, free, awesome" />
    <link rel="canonical" href="https://aldi.github.io/bulma-hotel-template/index.html" />
    <title>Bulma Page </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script defer src="js/scripts.js"></script>
  </head>
  <body>
    <section class="hero main_hero is-fullheight">
      <div class="hero-head">
        <div class="first_nav">
          <div class="container">
            <nav class="navbar">
              <div class="navbar-brand" style="display: flex; justify-content: space-between;">
                <a class="navbar-item" href="http://aldi.github.io/awesome-bulma-templates">
                  <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma Hotel" width="112" height="28" />
                </a>       
              <!-- Menu -->
              <div id="navMenuBlogHero" class="navbar-menu">
                <!-- Left Nav -->

                <div class="navbar-start">
                    <form action="/nexo" method="POST"><button class="navbar-item is-active">NEXO</button></form>
                    <form action="/pokedex" method="POST"><button class="navbar-item is-active">Pokedex</button></form>
                </div>
                <!-- ./Left Nav -->
                <!-- Right Nav -->
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="field is-grouped">
                      <p class="control">
                        <a class="button is-normal is-facebook">
                          <span class="icon">
                            <i class="fab fa-facebook-f"></i>
                          </span>
                          <span>Facebook</span>
                        </a>
                      </p>
                      <p class="control">
                        <a class="button is-normal is-success" href="tel:+302109999999">
                          <span class="icon">
                            <i class="fa fa-phone-alt"></i>
                          </span>
                          <span>Call Us</span>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="slider-content animated zoomIn pb-6">
            <div>
              <p class="title is-1 main-text">Welcome to Bulma Hotel</p>
              <p class="subtitle is-4 main-text">Experience The Luxury</p>
            </div>
          </div>
          <span class="scroll-down animated zoomIn">
            <svg
              width="30px"
              height="100%"
              viewBox="0 0 247 390"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="
                fill-rule: evenodd;
                clip-rule: evenodd;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 1.5;
              "
            >
              <path id="wheel" d="M123.359,79.775l0,72.843" style="fill: none; stroke: #fff; stroke-width: 20px;" />
              <path
                id="mouse"
                d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z"
                style="fill: none; stroke: #fff; stroke-width: 20px;"
              />
            </svg>
          </span>
        </div>
      </div>
    </section>
    <!-- Rooms Section -->
    <section class="hero" id="rooms">
      <div class="hero-body">
        <div class="container">
          <div class="rooms columns">
            <!-- Executive Gold Single -->
            <div class="column">
              <figure class="image">
                <img
                  src="https://images.unsplash.com/photo-1515510621228-30de609bbd60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                  alt="Executive Gold Single"
                />
              </figure>
              <div class="content">
                <div></div>
                <h1 class="title is-6">Executive Gold Single</h1>
                <p>The Executive Gold Single Rooms can hold <b>2 guests</b> (with extra bed €50).</p>
                <a class="button is-primary open-modal" href="#">View Details €119/day</a>
              </div>
            </div>
            <!-- Executive Gold Double -->
            <div class="column">
              <figure class="image">
                <img
                  src="https://images.unsplash.com/photo-1444201983204-c43cbd584d93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                  alt="Executive Gold Double"
                />
              </figure>
              <div class="content">
                <div></div>
                <h1 class="title is-6">Executive Gold Double</h1>
                <p>The Executive Gold Double Rooms can hold <b>3 guests</b> (with extra bed €50).</p>
                <a class="button is-primary open-modal" href="#">View Details €239/day</a>
              </div>
            </div>
            <!-- Premier Diamond Single -->
            <div class="column">
              <figure class="image">
                <img
                  src="https://images.unsplash.com/photo-1590490360836-2e3b067c082b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                  alt="Premier Diamond Single"
                />
              </figure>
              <div class="content">
                <div></div>
                <h1 class="title is-6">Premier Diamond Single</h1>
                <p>The Premier Diamond Single rooms can hold <b>2 guests</b> (with extra bed €50).</p>
                <a class="button is-primary open-modal" href="#">View Details €399/day</a>
              </div>
            </div>
            <!-- Premier Diamond Double -->
            <div class="column">
              <figure class="image">
                <img
                  src="https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                  alt="Premier Diamond Double"
                />
              </figure>
              <div class="content">
                <div></div>
                <h1 class="title is-6">Premier Diamond Double</h1>
                <p>he Premier Diamond Double rooms can hold <b>3 guests</b> (with extra bed €50).</p>
                <a class="button is-primary open-modal" href="#">View Details €499/day</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ./Rooms Section -->
    <!-- Features Modal -->
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="content">
          <div class="columns">
            <div class="column">
              <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma Hotels" width="150" />
            </div>
            <div class="column">
              <div>
                <i class="fa fa-phone"></i> &nbsp; <span>Phone Number</span> &nbsp;
                <a style="color: black;" href="tel:+30 2109999999">+30 2109999999</a>
              </div>
              <div>
                <i class="fa fa-phone"></i> &nbsp; <span>Reservation</span> &nbsp;
                <a style="color: black;" href="tel:+30 2109999997">+30 210999997</a>
              </div>
            </div>
          </div>
          <h3>Facilities &amp; Features</h3>
          <div class="columns">
            <ul class="column">
              <li>Free Wi-Fi Connectivity</li>
              <li>Complimentary Breakfast</li>
              <li>Doc on Call</li>
              <li>Board Rooms</li>
              <li>Electronic Card Locks</li>
              <li>In Room Safe</li>
            </ul>
            <ul class="column">
              <li>Laundry Facility</li>
              <li>Hair Dryer</li>
              <li>Travel Assistance</li>
              <li>24 hrs Check-in &amp; Check-out</li>
              <li>Coffee / Tea Maker in Room</li>
              <li>Mini Bar</li>
            </ul>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
<html></html>